<!doctype html>
<html>
	<head>
		<title>Index</title>
	</head>
	<body>
		<form action="/index" method="post">
			User<br />
			<input type="text" name="name" value="{{name}}" /><br />
			<br />
			Views : {{views}}<br />
			<br />
			<input type="submit" value="Update" />
		</form>
	</body>
</html>
